
@font-face {
  font-family: FastHand;
  src:url("../../../assets/fonts/Fasthand-Regular.ttf")
  format('truetype');
}

@font-face {
  font-family: Oxy;
  src:url("../../../assets/fonts/Oxygen-Regular.ttf")
  format('truetype');
}

@font-face {
  font-family: OxyB;
  src:url("../../../assets/fonts/Oxygen-Bold.ttf")
  format('truetype');
}

@font-face {
  font-family: Cairo;
  src:url("../../../assets/fonts/Cairo-Regular.ttf")
  format('truetype');
}

@font-face {
  font-family: CairoB;
  src:url("../../../assets/fonts/Cairo-Bold.ttf")
  format('truetype');
}

@font-face {
  font-family: Pop;
  src:url("../../../assets/fonts/Poppins-Regular.ttf")
  format('truetype');
}

@font-face {
  font-family: PopB;
  src:url("../../../assets/fonts/Poppins-Medium.ttf")
  format('truetype');
}

$font-regular: 400;
$font-bold: 700;
$body-font: 'Cairo', sans-serif;
$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

@media screen and (min-width: 968px){
    $biggest-font-size: 3rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}

