@use '../config/index' as *;

*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: $body-font;
    background:  $white-color;
    direction: $opposite-direction;
    text-align: $start-direction;
    justify-content: center;
    align-items: center;
}
h1, h2, h3{
    font-weight: $font-regular;
    line-height: 1.5;
}
ul, a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
p, h1, h2, h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

