################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.vs
*.idea

*.bin
*.sqlite
*.vsidx
obj*
bin*
*.vscode/
appsettings*
/adminPanel/.vscode
uploaded/*
