@use '../config/index' as *;

/* ========== Layout ========== */
.container{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* ========== Reusable CSS classes ========== */

