
@{

    ViewBag.title = "Home Page";
    Layout = "~/Views/Shared/Layout/_layout.cshtml";
}
@section Styles {
    <link rel="stylesheet"
      type="text/css"
      href="~/Admin/assets/css/style.css" />
}
    <!--------------------------------------------------------------------------------------------------------->

    <div class="row">
        Welcome Admin
    </div>
    <a asp-controller="AdminAuth" asp-action="login">login</a>
    <!--------------------------------------------------------------------------------------------------------->


@section Scripts {
    <script src="~/Admin/app-assets/js/scripts/pages/dashboard-sales.js"
        type="text/javascript"></script>



}